= form_for(@sample) do |f|
  - if @sample.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@sample.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - @sample.errors.full_messages.each do |msg|
        %li= msg
  
  %fieldset
    = f.label :instrument_id, t('samples.instrument')
    %br
    = f.select :instrument_id, instrument_options(@instruments)
  %fieldset
    = f.label :value, t('samples.value')
    %br
    = f.text_field :value
  = render partial: "locations/form_locator", locals: { object: @sample }
  %fieldset
    = f.label t('samples.timestamp')
    %br
    = f.datetime_select :timestamp, default: DateTime.now
  %fieldset
    = f.label :timezone, t('time.zone')
    %br
    = f.time_zone_select :timezone, nil, default: "UTC"
  .actions
    = f.submit

