= form_for(@sample) do |f|
  - if @sample.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@sample.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - @sample.errors.full_messages.each do |msg|
        %li= msg
  
  .field
    = f.label :instrument_id, "Instrument"
    %br
    = f.select :instrument_id, instrument_options(@instruments)
  .field
    = f.label :value
    %br
    = f.text_field :value
  %fieldset
    %legend= t('location')
    .field
      = f.label :latitude
      %br
      = f.text_field :latitude
    .field
      = f.label :longitude
      %br
      = f.text_field :longitude

  .actions
    = f.submit
