= form_for [ current_user, @sample.instrument, @sample ] do |f|
  = error_messages_for @sample
  %fieldset
    = f.label :value, t('samples.value')
    %br
    = f.text_field :value, size: 8 
    = @sample.instrument.data_type.si_unit
  %fieldset
    = f.label t('samples.timestamp')
    %br
    = f.datetime_select :timestamp, default: DateTime.now
  %fieldset
    = f.label :timezone, t('time.zone')
    %br
    = f.time_zone_select :timezone, nil, default: timezone.name
  %fieldset
    %legend= t('locations.title')
  - if @sample.instrument.location_id.nil?
    = render partial: "locations/form_locator", locals: { form: f }
  - else
    = t('.location_from_instrument')
  .actions
    = f.submit

