= form_for(@sample) do |f|
  - if @sample.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@sample.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - @sample.errors.full_messages.each do |msg|
        %li= msg
  
  .field
    = f.label :value
    %br
    = f.text_field :value
  .field
    = f.label :data_type_id, "Data type"
    %br
    = f.select :data_type_id, data_type_options(@data_types)
  .field
    = f.label :latitude
    %br
    = f.text_field :latitude
  .field
    = f.label :longitude
    %br
    = f.text_field :longitude

  .actions
    = f.submit
