#searchdata
  = form_tag samples_path do

    .textfield.location
      = label_tag :location, t('locations.title')
      = text_field_tag 'location', @search_params[:location], :size => 22

    .textfield.datetime
      = label_tag :after
      = text_field_tag :after, @search_params[:after], :size => 18, :class => 'clearme'

    .textfield.datetime
      = label_tag :before
      = text_field_tag :before, @search_params[:before], :size => 18, :class => 'clearme'
  
    .historical
      = check_box_tag :history, "history", @search_params[:options].try(:include?, 'history'), name: "options[]"
      = label_tag :history, 'Historical'
    
    = submit_tag "Go"
