%h2= t '.title'
= messages_for @sample
%p
  = link_to t('back'), user_instrument_samples_path(current_user, @sample.instrument, @sample)
  = link_to t('show'), [ current_user, @sample.instrument, @sample ]
= render 'form'
