= form_tag samples_path do
  = label_tag :location, t('locations.title')
  = text_field_tag 'location', nil, size: 10
  = label_tag :after
  = text_field_tag :after, nil, size: 10
  = label_tag :before
  = text_field_tag :before, nil, size: 10
  = check_box_tag :history, "history", false, name: "options[]"
  = label_tag :history, 'historical data'
  = submit_tag "Submit"
%table.data
  %thead
    %tr
      %th value
      %th SI unit
      %th timestamp
      %th device
      %th location
      %th
        %tbody
          - @samples.each do |sample|
            %tr
              %td= sample.value
              %td= sample.data_type.si_unit
              %td= sample.timestamp.in_time_zone
              %td= link_to sample.instrument.model, polymorphic_path([sample.instrument.origin, sample.instrument, sample])
              %td= format_location sample.location
              %td= link_to t('show'), polymorphic_path([ sample.instrument.origin, sample.instrument, sample ])
= will_paginate @samples, params: @search_params
