%table.data
  %thead
    %tr
      %th value
      %th SI unit
      %th time
      %th device
      %th location
    %tbody
      - @samples.each do |sample|
        %tr
          %td= sample.value
          %td= sample.data_type.si_unit
          %td= sample.timestamp.in_time_zone
          %td= link_to sample.instrument.model, [ sample.user, sample.instrument, sample ]
          %td= "#{sample.location.city}, #{sample.location.province}, #{sample.location.country}"
