%h1.title Search Data

= render :partial => 'samples/search'

%table.data
  %thead
    %tr
      %th.r Value
      %th.c SI unit
      %th.c Date
      %th.c Device
      %th Location
      %th Action
    %tbody
      - @samples.each do |sample|
        %tr{:class => "#{cycle('odd', 'even')}"}
          %td.r= sample.value
          %td.c= sample.data_type.si_unit
          %td.c= sample.timestamp.in_time_zone
          %td.c= link_to sample.instrument.model, polymorphic_path([sample.instrument.origin, sample.instrument, sample])
          %td= format_location(sample.location).html_safe
          %td.action= link_to image_tag('icons/show.png'), polymorphic_path([ sample.instrument.origin, sample.instrument, sample ]), :title => t('show')

= will_paginate @samples
>>>>>>> design
