%h1= t('.title')
%p= link_to t('.new_sample'), new_sample_path

%table
  %thead
    %tr
      %th= Sample.human_attribute_name :value
      %th= Sample.human_attribute_name :data_type_id
      %th{:colspan => 3}= t 'actions'
  
  %tbody
    - for sample in @samples
      %tr{ :class => cycle(:odd, :even) }
        %td= sample.value
        %td= sample.data_type_id
        %td.action= link_to t('show'), sample
        %td.action= link_to t('edit'), edit_sample_path(sample)
        %td.action= link_to t('destroy'), sample, :confirm => t('are_you_sure'), :method => :delete
