- if is_owned?
  %p= link_to t('.new_sample'), new_user_instrument_sample_path

%table#data
  %thead
    %tr
      %th= t('samples.value')
      %th= t('instruments.si_unit')
      %th= t('samples.timestamp')
      %th= t('samples.instrument')
      %th
  
  %tbody
    - for sample in @samples
      %tr{ :class => cycle(:odd, :even) }
        %td= sample.value
        %td= sample.instrument.data_type.si_unit 
        %td= l sample.timestamp.localtime, format: :short_with_zone
        %td= link_to sample.instrument.model, user_instrument_path(sample.user, sample.instrument)
        %td
          - if is_owned?
            = link_to t('edit'), edit_user_instrument_sample_path(current_user, sample.instrument, sample)
            = link_to t('destroy'), [ current_user, sample.instrument, sample ], :confirm => t('confirm_delete'), :method => :delete

