%h2= t('.title')
%p= link_to t('.new_sample'), new_sample_path

%table
  %thead
    %tr
      %th= t('samples.value')
      %th= t('instruments.si_unit')
      %th= t('samples.timestamp')
      %th= t('samples.instrument')
      %th= t('samples.location')
      %th
  
  %tbody
    - for sample in @samples
      %tr{ :class => cycle(:odd, :even) }
        %td= sample.value
        %td= sample.instrument.data_type.si_unit 
        %td= l sample.timestamp.localtime, format: :short_with_zone
        %td= link_to sample.instrument.model, sample.instrument
        %td= link_to sample.location.name, sample.location
        %td
          = link_to t('show'), sample
          = link_to t('edit'), edit_sample_path(sample)
          = link_to t('destroy'), sample, :confirm => t('confirm_delete'), :method => :delete

