= form_tag find_samples_path do
  %table.form
    %tr
      %td= label_tag :location, t('locations.title')
      %td
        .float_left= text_field_tag 'location', nil
        .gray.float_left city, country, etc.
    %tr
      %td= label_tag :after
      %td
        .float_left=text_field_tag :after
        .gray.float_left (YYYY/MM/DD HH:MM)
    %tr
      %td= label_tag :before
      %td
        .float_left= text_field_tag :before
        .gray.float_left (YYYY/MM/DD HH:MM)
    %tr
      %td
      %td
        = check_box_tag :history, "latest", false, name: "options[]"
        = label_tag :history, 'historical data'
    %tr
      %td
      %td= submit_tag "Submit"
