%h2= t '.title'
%p
  = link_to t('back'),  polymorphic_path([@origin, @sample.instrument, Sample])
  - if is_owned?
    = link_to t('edit'), edit_user_instrument_sample_path(current_user, @sample.instrument, @sample)

%dl
  %dt= Sample.human_attribute_name :value
  %dd= @sample.value
