- if breadcrumbs.present?
  #breadcrumbs= render_breadcrumbs.html_safe

#google_map{ "data-latitude" => @sample.location.latitude, "data-longitude" => @sample.location.longitude }

%h2 Information

%dl
  %dt= t('samples.value')
  %dd= @sample.value

  %dt= t('samples.si_unit')
  %dd= @sample.data_type.si_unit

  %dt= t('samples.timestamp')
  %dd= @sample.timestamp.in_time_zone

  %dt= t('samples.instrument')
  %dd= link_to @sample.instrument.model, polymorphic_path([ @sample.instrument.origin, @sample.instrument ])

  %dt= t('.location')
  %dd= format_location(@sample.location).html_safe



%p
  = link_to t('samples.all_data'),  polymorphic_path([@origin, @sample.instrument, Sample])
  - if is_owned?
    &nbsp;
    = link_to t('edit'), edit_user_instrument_sample_path(current_user, @sample.instrument, @sample)