%h1.title Confirmation Instructions

= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|

  = devise_error_messages!

  .textfield
    = f.label :email
    = f.text_field :email
  
  = f.submit "Resend"

- content_for :subfooter do
  = render :partial => "devise/shared/links"
