%h1.title= t('.title')

#datasources
  - @sources.each do |source|
    .datasource
      .name= link_to "⬅ #{source.short_name}", data_source_instruments_path(source)
      .description
        = link_to source.url, source.url, :location => '_blank', :class => 'source_url'
        = source.name
