%h2= t('.title')

%table.data
  %thead
    %tr
      %th= t('.name')
      %th= t('.info')
      %th= t('.url')
  
  %tbody
    - for source in @sources
      %tr{ :class => cycle(:odd, :even) }
        %td= link_to source.short_name, data_source_instruments_path(source)
        %td= source.name
        %td= link_to source.url, source.url, :location => '_blank'
