%h1.title= t('.title')

%p 
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec diam enim, sit amet condimentum mi. Praesent interdum dapibus turpis a condimentum. Duis pulvinar, odio varius tempor rutrum, turpis magna tempor lectus, in dapibus orci eros a mi.

%br
%br

%table.data
  %thead
    %tr
      %th= t('.name')
      %th= t('.info')
      %th= t('.url')
  
  %tbody
    - for source in @sources
      %tr{ :class => cycle(:odd, :even) }
        %td= link_to source.short_name, data_source_instruments_path(source)
        %td= source.name
        %td= link_to source.url, source.url, :location => '_blank'
