%h1.title= t('.title')

#datasources
  - @sources.each do |source|
    .datasource
      .name
        .dsname= source.short_name
        = link_to 'instruments', data_source_instruments_path(source), :class => 'instruments'
      .description
        = link_to source.url, source.url, :location => '_blank', :class => 'source_url'
        = source.name
