%h1.title Create an account

= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|

  = devise_error_messages!

  .textfield
    = f.label :email
    = f.text_field :email

  .textfield
    = f.label :screen_name, 'Username'
    = f.text_field :screen_name

  .textfield
    = f.label :password
    = f.password_field :password

  .textfield
    = f.label :password_confirmation, 'Re-Password'
    = f.password_field :password_confirmation

  = f.submit "Create"

- content_for :subfooter do
  = render :partial => "devise/shared/links"

