= #render partial: "layouts/flash_message", locals: { object: @user }
= form_for(@user) do |f|
  = messages_for @user
  %fieldset
    .label= f.label :email, t('.email')
    = f.text_field :email
  %fieldset
    .label= f.label :password, t('.password')
    .float_left= f.password_field :password
    .gray= t('optional')
    .clear
    .label= f.label :password_confirmation, t('.password_confirmation')
    = f.password_field :password_confirmation

    .actions
      = f.submit
