= form_for(@user) do |f|
  = error_messages_for @user
  .textfield
    = f.label :email, t('.email')
    = f.text_field :email

  %p.instructions
    optional
    %br
    ⬇
  
  .textfield
    = f.label :password, t('.password')
    = f.password_field :password

  .textfield
    = f.label :password_confirmation, t('.password_confirmation')
    = f.password_field :password_confirmation

  = f.submit

