%h1.title Password Forgotten

= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|

  = devise_error_messages!

  .textfield
    = f.label :email
    = f.text_field :email

  = f.submit "Reset"

- content_for :subfooter do
  = render :partial => "devise/shared/links"
