%h1.title About

%article
  %h1 Geiger·Crowd
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec diam enim, sit amet condimentum mi. Praesent interdum dapibus turpis a condimentum. Duis pulvinar, odio varius tempor rutrum, turpis magna tempor lectus, in dapibus orci eros a mi. Fusce ullamcorper ipsum et tortor dignissim condimentum. Cras eros dui, interdum non semper sed, volutpat sed nunc. Nullam ultricies mauris vel lectus ornare pulvinar. Nullam dictum magna et neque gravida id tempor dui tempus. Nullam interdum dolor accumsan tellus dapibus semper.


%article
  %h1 Source Contributors
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec diam enim, sit amet condimentum mi. Praesent interdum dapibus turpis a condimentum. Duis pulvinar, odio varius tempor rutrum, turpis magna tempor lectus, in dapibus orci eros a mi. Fusce ullamcorper ipsum et tortor dignissim condimentum. Cras eros dui, interdum non semper sed, volutpat sed nunc. Nullam ultricies mauris vel lectus ornare pulvinar. Nullam dictum magna et neque gravida id tempor dui tempus. Nullam interdum dolor accumsan tellus dapibus semper.


%section.team
  %article.members
    .member
      .picture
        = image_tag('helmet.png')
      .metadata
        %span.name Helgor Rausch
        %span.career
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut eros tellus, ullamcorper eget viverra ut, rhoncus in diam.
        %span.buttons
          = link_to 'GitHub', 'https://github.com/tsujigiri'
          = link_to '@hrausch', 'http://twitter.com/hrausch'

    .member
      .picture
        = image_tag('helmet.png')
      .metadata
        %span.name JON VIDAL
        %span.career
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut eros tellus, ullamcorper eget viverra ut, rhoncus in diam.
        %span.buttons
          = link_to 'GitHub', 'https://github.com/juanjo/'
          = link_to '@j2vidal', 'http://twitter.com/j2vidal'

    .member
      .picture
        = image_tag('helmet.png')
      .metadata
        %span.name XXXXX
        %span.career
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut eros tellus, ullamcorper eget viverra ut, rhoncus in diam.
        %span.buttons
          = link_to 'GitHub', '#'
          = link_to '@xxxxx', '#'

    .member
      .picture
        = image_tag('helmet.png')
      .metadata
        %span.name YYYYY
        %span.career
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut eros tellus, ullamcorper eget viverra ut, rhoncus in diam.
        %span.buttons
          = link_to 'GitHub', '#'
          = link_to '@yyyyy', '#'

    .member
      .picture
        = image_tag('helmet.png')
      .metadata
        %span.name ZZZZZ
        %span.career
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut eros tellus, ullamcorper eget viverra ut, rhoncus in diam.
        %span.buttons
          = link_to 'Blog', '#'
          = link_to 'GitHub', '#'
          = link_to '@zzzzz', '#'

