.title= title 'Developers Info'

%article
  %h1 API v1.0 Documentation
  %p
    Because geigercrowd.net is designed as an open platform, we provide a API to query and update every data available.
    %br
    Currently we provide a REST-orientated JSON API.

  %section
    %h2=link_to "Public API", '/api/public'
    %p
      The public API can be used to get a list of every instrument and sample, it is intended for applications which want to either visualize data or merge it with it's own database.
      It also provides user-based data, useful to validate submitted samples.

  %section
    %h2=link_to "Private API", '/api/private'
    %p
      The private API is used to manage a users instruments and samples. It's main focus is to create and or update instruments and samples.


  %section
    %h1 Consistent parameters

    %p
      These parameters are required or supported by every API call.

    %h2 Required
    %dl.api
      %dt api_key
      %dd
        - if current_user
          Find your API key
          = link_to "here", edit_user_path(current_user)
        - else
          = link_to "Create an account", new_registration_path(:user)
          to obtain an API key


    %h2 Optional
    %dl.api
      %dt page
      %dd Require the next 50 entries (supported by every call which returns an array)

    %h2 Example URIs
    %p
      Click through to each URI to see the returned JSON.

    %dl.urls
      %dt=link_to '/instruments.json', "#{root_url}instruments.json?api_key=#{api_key}"
      %dd global list of the first 50 instruments

