%h2= t('.title')
%p= link_to t('.new_data_type'), new_data_type_path

%table
  %thead
    %tr
      %th= DataType.human_attribute_name :name
      %th= DataType.human_attribute_name :si_unit
      %th= DataType.human_attribute_name :description
      %th{:colspan => 3}= t 'actions'
  
  %tbody
    - for data_type in @data_types
      %tr{ :class => cycle(:odd, :even) }
        %td= data_type.name
        %td= data_type.si_unit
        %td= data_type.description
        %td.action= link_to t('show'), data_type
        %td.action= link_to t('edit'), edit_data_type_path(data_type)
        %td.action= link_to t('destroy'), data_type, :confirm => t('are_you_sure'), :method => :delete
