%h2.title Sign in

= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  .textfield
    = f.label :email
    = f.text_field :email

  .textfield
    = f.label :password
    = f.password_field :password

  - if false && devise_mapping.rememberable?
    %p
      = f.check_box :remember_me
      = f.label :remember_me

  %p
    = f.submit "Sign in"
    or
    %b= link_to "create an account", new_registration_path(:user)

- content_for :subfooter do
  = render :partial => "devise/shared/links"
