= form_for(@instrument) do |f|
  - if @instrument.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@instrument.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - @instrument.errors.full_messages.each do |msg|
        %li= msg
  
  .field
    = f.label :model, t('.model')
    %br
    = f.text_field :model, size: 50;
  .field
    = f.label :notes, t('.notes')
    %br
    = f.text_area :notes, size: "70x30"
  .field
    = f.label :latitude
    %br
    = f.text_field :latitude
  .field
    = f.label :longitude
    %br
    = f.text_field :longitude

  .actions
    = f.submit
