= form_for(@instrument) do |f|
  - if @instrument.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@instrument.errors.count, 'error')} prohibited this instrument from being saved:"
      %ul
      - @instrument.errors.full_messages.each do |msg|
        %li= msg
  
  %fieldset
    = f.label :model, t('.model')
    %br
    = f.text_field :model, size: 50;
  %fieldset
    = f.label :data_type_id, t('instruments.si_unit')
    %br
    = f.select :data_type_id, data_type_options(@data_types)
    %br
  %fieldset
    %legend= t('.model_parameters')
    = f.label :deadtime, t('instruments.deadtime')
    .field_description= t('.deadtime_description').html_safe
    = f.text_field :deadtime, size: 7;
    %br
    = f.label :error, t('instruments.error')
    .field_description= t('.deadtime_error_description')
    = f.text_field :error, size: 7;
  %fieldset
    %legend= t('locations.title')
    = render partial: "locations/form_locator", locals: { form: f }
    - unless @instrument.location.try(:id).nil?
      %br
      = t('.on_location_change')
      %br
      = radio_button_tag :new_location, "true"
      %div= t('.instrument_has_been_moved').html_safe
      %br
      = radio_button_tag :new_location, "false"
      %div= t('.instrument_location_correction').html_safe
  %fieldset
    %legend= t('instruments.notes')
    .field_description= t('.notes_description')
    = f.text_area :notes, size: "70x20"
  .actions
    = f.submit
