%h2= t('.title')
%p= link_to t('.new_instrument'), new_instrument_path
#instruments
  - for instrument in @instruments
    = instrument.model
    = link_to t('show'), instrument_path(instrument)
    = link_to t('edit'), edit_instrument_path(instrument)
    &nbsp;
    = link_to t('.add_samples'), new_instrument_sample_path(instrument_id: instrument.id)
