%p= link_to t('.new_instrument'), new_instrument_path
#instruments
  - for instrument in @instruments
    .model= instrument.model
    .notes
      = instrument.notes[0..100]
      = "..." if instrument.notes.size > 100
    .actions
      = link_to t('show'), instrument_path(instrument)
      = link_to t('edit'), edit_instrument_path(instrument)
      = link_to t('destroy'), instrument, :confirm => t('confirm_delete'), :method => :delete
