%h1.title= t('instruments.title')


%table.data
  %thead
    %tr
      %th Name
      %th.c Device
      %th.actions Action
  %tbody
    - for instrument in @instruments
      %tr{ :class => cycle(:odd, :even) }
        - if @origin.is_a?(DataSource) # is a datasource
          %td= link_to instrument.location.try(:name), polymorphic_path([instrument.origin, instrument])
          %td= instrument.model
        - else
          %td= link_to instrument.model, polymorphic_path([instrument.origin, instrument])
          %td= instrument.location.try(:name)
        %td.actions
          = link_to image_tag('icons/show.png'), polymorphic_path([instrument.origin, instrument, Sample]), :title => t('instruments.view_samples')
          - if is_owned?
            = link_to t('instruments.add_samples'), polymorphic_path([instrument.origin, instrument, Sample], :action => :new)


- if is_owned?
  %p= link_to t('.new_instrument'), new_user_instrument_path(current_user)
