%p= link_to t('.new_instrument'), new_instrument_path
#instruments
  - for instrument in @instruments
    .instrument
      .model= link_to instrument.model, instrument_path(instrument)
      .location.gray= instrument.location.try(:name)
      .data_links
        = link_to t('instruments.view_samples'), instrument_samples_path(instrument)
        &nbsp;
        = link_to t('instruments.add_samples'), new_instrument_sample_path(instrument)
      %br.clear
