%h3= @instrument.model
- if is_owned?
  = link_to t('edit'), edit_user_instrument_path(current_user, @instrument)
  &nbsp;
  = link_to t('destroy'), user_instrument_path(current_user, @instrument), :confirm => t('confirm_delete'), :method => :delete
  &nbsp;
= link_to t('instruments.view_samples'), polymorphic_path([@origin, @instrument, Sample])
- if is_owned?
  &nbsp;
  = link_to t('instruments.add_samples'), new_user_instrument_sample_path(current_user, @instrument)
  .clear
%ul
  %li
    .label= "#{t('instruments.si_unit')}:"
    = @instrument.data_type.si_unit
  %li
    .label= "#{t('instruments.deadtime')}:"
    = @instrument.deadtime || t('not_applicable')
  %li
    .label= "#{t('instruments.error')}:"
    = @instrument.error || t('not_applicable')
  %li
    .label= "#{t('locations.title')}:"
    = format_location @instrument.location
  %li
    .label= t('instruments.notes')
    = simple_format @instrument.notes
.clear
#google_map{ "data-latitude" => @instrument.location.latitude, "data-longitude" => @instrument.location.longitude }
