%h3= @instrument.model
- if is_owned?
  = link_to t('edit'), edit_user_instrument_path(current_user, @instrument)
  &nbsp;
  = link_to t('destroy'), user_instrument_path(current_user, @instrument), :confirm => t('confirm_delete'), :method => :delete
  &nbsp;
= link_to t('instruments.view_samples'), polymorphic_path([@origin, @instrument, Sample])
- if is_owned?
  &nbsp;
  = link_to t('instruments.add_samples'), new_user_instrument_sample_path(current_user, @instrument)
%ul
  %li
    %span.label= "#{t('instruments.si_unit')}:"
    = @instrument.data_type.si_unit
  %li
    %span.label= "#{t('instruments.deadtime')}:"
    = @instrument.deadtime || t('general.not_applicable')
  %li
    %span.label= "#{t('instruments.error')}:"
    = @instrument.error || t('general.not_applicable')
  %li
    %span.label= "#{t('locations.title')}:"
    - if @instrument.location.present?
      = @instrument.location.name
      = "(#{@instrument.location.latitude}"
      = "#{@instrument.location.longitude})"
    - else
      = t('general.not_applicable')
  %li
    %span.label= "#{t('instruments.notes')}:"
    = simple_format @instrument.notes
