- if breadcrumbs.present?
  #breadcrumbs= render_breadcrumbs.html_safe

- if @instrument.location
  #google_map{ "data-latitude" => @instrument.location.latitude, "data-longitude" => @instrument.location.longitude }

%h2 Information

%dl
  %dt= t('instruments.si_unit')
  %dd= @instrument.data_type.si_unit

  %dt= t('instruments.deadtime')
  %dd= @instrument.deadtime || t('not_applicable')

  %dt= t('instruments.error')
  %dd= @instrument.error || t('not_applicable')

  %dt= t('locations.title')
  %dd= format_location(@instrument.location).html_safe

  %dt= t('instruments.notes')
  %dd= simple_format @instrument.notes


%h3= @instrument.model
- if is_owned?
  = link_to t('edit'), edit_user_instrument_path(current_user, @instrument)
  &nbsp;
  = link_to t('destroy'), user_instrument_path(current_user, @instrument), :confirm => t('confirm_delete'), :method => :delete
  &nbsp;
= link_to t('instruments.view_samples'), polymorphic_path([@origin, @instrument, Sample])
- if is_owned?
  &nbsp;
  = link_to t('instruments.add_samples'), new_user_instrument_sample_path(current_user, @instrument)
