= form.fields_for :location do |l|

  .textfield
    = l.label :name, t('.name')
    = l.text_field :name
    =# t('.name_desription')

  .textfield
    = l.label :latitude
    = l.text_field :latitude, size: 16, id: "location_latitude"

  .textfield
    = l.label :longitude
    = l.text_field :longitude, size: 16, id: "location_longitude"

  .textfield
    = l.label 'Search...'
    = text_field_tag nil, t('.locator_text_field'), id: "location_search", class: "onfocus_clear search"
