%h2= t('.title')
%p= link_to t('.new_location'), new_location_path

%table
  %thead
    %tr
      %th= Location.human_attribute_name :latitude
      %th= Location.human_attribute_name :longitude
      %th= Location.human_attribute_name :name
      %th{:colspan => 3}= t 'actions'
  
  %tbody
    - for location in @locations
      %tr{ :class => cycle(:odd, :even) }
        %td= location.latitude
        %td= location.longitude
        %td= location.name
        %td.action= link_to t('show'), location
        %td.action= link_to t('edit'), edit_location_path(location)
        %td.action= link_to t('destroy'), location, :confirm => t('confirm_delete'), :method => :delete
