%footer
  %ul.navigation
    %li= link_to 'About', '/about'
    %li= link_to '@geigercrowd', 'https://twitter.com/geigercrowd'
    %li= link_to 'GitHub', 'https://github.com/geigercrowd'
    %li= link_to 'Terms of use', '#'

  #sublogo
    = link_to image_tag('sub_geigercrowd.png'), root_url, :title => 'Home'