%footer
  %ul.navigation
    %li= link_to 'About', ''
    %li= link_to '@gcrowd', ''
    %li= link_to 'GitHub', ''
    %li= link_to 'Terms of use', ''

  #sublogo
    = link_to image_tag('sub_geigercrowd.png'), root_url, :title => 'Home'