!!!
%html
  = render :partial => 'layouts/head'
  %body
    %header
      #logo= image_tag('geigercrowd.png')
      = render :partial => 'layouts/navigation'

    #container
      #content
        = yield

    = render :partial => 'layouts/footer'

    =# render :partial => 'layouts/javascripts'