!!!
%html
  = render :partial => 'layouts/head'
  %body
    %header
      #logo= image_tag('geigercrowd.png')
      = render :partial => 'layouts/navigation'

    #container
      = image_tag('radioactive_sign.png')
      #content
        = yield

    #subfooter
      = yield :subfooter

    = render :partial => 'layouts/footer'

    =# render :partial => 'layouts/javascripts'